.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-field,
        .submit-btn {
            padding: 0.5rem;
            width: 20em;
            font-size: 1rem;
            margin-bottom: 1.4rem;
        }

        .text-field:focus {
            outline: none !important;
            border-color: #5138EE;
        }

        .submit-btn {
            border-style: none;
            background-color: #5138EE;
            color: white;
            border-radius: 50px;
            padding: 0.8rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: #5138EE;
        font-weight: 550;
    }
}