<link rel="stylesheet" href="/css/forget.css">

<div class="forget-container">

    <h1>
        Enter the Email
    </h1>

    <form action="/users/send-reset-link" method="post">
        <input type="text" name="email" placeholder="Email" class="text-field" required>
        <input type="submit" value="Submit" class="submit-btn">
    </form>

    <p>
        Remembered the password?&nbsp;<a href="/users/sign-in">Sign In</a>
    </p>

</div>