.forget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-container form .text-field,
.forget-container form .submit-btn {
  padding: 0.5rem;
  width: 20em;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.forget-container form .text-field:focus {
  outline: none !important;
  border-color: #5138EE;
}

.forget-container form .submit-btn {
  border-style: none;
  background-color: #5138EE;
  color: white;
  border-radius: 50px;
  padding: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.forget-container a {
  text-decoration: none;
  color: #5138EE;
  font-weight: 550;
}
