.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-container .sign-up-form-container {
  text-align: center;
}

.sign-up-container .sign-up-form-container .text-field,
.sign-up-container .sign-up-form-container .sign-up-button {
  padding: 0.5rem;
  width: 20em;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.sign-up-container .sign-up-form-container .text-field:focus {
  outline: none !important;
  border-color: #5138EE;
}

.sign-up-container .sign-up-form-container .sign-up-button {
  border-style: none;
  background-color: #5138EE;
  color: white;
  border-radius: 50px;
  padding: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1.4rem;
}

.sign-up-container .sign-up-form-container a {
  text-decoration: none;
  color: #5138EE;
  font-weight: 550;
}
